@charset "UTF-8";
/*防止sass中注释报错*/
body {
  font-size: 62.5%;
  background-color: #fafafa;
  margin: 0;
  padding: 0; }

/*防止sass中注释报错*/
header {
  width: 100%; }

.head1 {
  position: relative;
  width: 100%;
  height: 3rem; }

.tel {
  position: absolute;
  left: 10%;
  color: #29b078;
  line-height: 3rem; }

.head-image {
  position: absolute;
  right: 10%;
  top: 50%;
  margin-top: -1rem;
  list-style: none; }

.head-image li {
  float: left;
  padding-left: 1rem; }

.head-image1 {
  width: 2rem;
  height: 2rem;
  border: none;
  outline: none;
  cursor: pointer; }

.weixin {
  background: url(../images/weixin.png);
  background-size: 100%; }

.qq {
  background: url(../images/qq.png);
  background-size: 100%; }

.xinlang {
  background: url(../images/xinlang.png);
  background-size: 100%; }

.header-nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  /*加个换行属性的含义是，当点击书签按钮时，将ul在下面显示，避免和上面的div显示在一行，前提是ul的宽度设置为100%*/
  align-items: center;
  background-color: #29b078; }

.jnshu-image {
  margin-left: 10%;
  padding: 1rem 0; }
  .jnshu-image img {
    width: 7rem; }

.header-page {
  display: none; }
  .header-page .button {
    display: inline-block;
    border: 1px solid white;
    padding: 3px 8px;
    background-color: #29b078;
    border-radius: 4px;
    outline: none;
    cursor: pointer; }
    .header-page .button span {
      display: block;
      background-color: #fff;
      height: 2px;
      z-index: 100;
      width: 20px;
      margin: 6px 2px; }

.header-input {
  display: none; }

.header-ul {
  list-style: none;
  padding-right: 10%;
  margin: 0; }
  .header-ul li {
    float: left; }
    .header-ul li a {
      font-size: 1.5rem;
      color: #fff;
      padding: 1.75rem;
      text-decoration: none; }
      .header-ul li a:hover {
        border-bottom: 2px solid #fff; }

@media screen and (max-width: 767px) {
  .header-ul {
    display: none;
    border-top: 1px solid #32c086;
    padding: 0;
    width: 100%;
    /*设置宽度是为了点击书签页，根据flex的换行属性使ul在下一行显示*/ }

  .header-page {
    display: block;
    margin-right: 10%;
    margin-top: 10px; }

  .header-input:checked + .header-ul {
    /*由于label和input关联，点击标签页的时候就相当于点击inpiut，当input被点击时，更改其兄弟元素ul的样式，使其显示出来*/
    display: block; }
    .header-input:checked + .header-ul li {
      float: none;
      padding-top: 1rem;
      text-align: center; }
      .header-input:checked + .header-ul li:hover {
        border-bottom: 1px solid #fff; }
      .header-input:checked + .header-ul li a:hover {
        border-bottom: none; } }
/*防止sass中注释报错*/
footer {
  width: 100%;
  background-color: #29b078;
  color: #fff; }

.foot {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 80%;
  margin-left: 10%; }

.foot h4 {
  font-size: 1.5rem;
  padding-top: 2rem;
  margin: 0; }

.foot ul {
  list-style: none;
  padding: 0; }

.foot li {
  float: left; }

.foot li a {
  color: #fff;
  font-size: 1rem;
  text-decoration: none; }

.foot li a:hover {
  border-bottom: 1px solid #fff; }

.net {
  margin-top: 2rem;
  background-color: #29b078;
  padding: .5rem 0;
  text-align: center;
  border-top: 1px solid #32c086; }

@media screen and (max-width: 374px) {
  .foot div {
    width: 100%; } }
.main {
  background-color: #fafafa;
  width: 100%; }

.content {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-left: 10%; }

.row-image {
  padding-top: 60px;
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: center;
  width: 25%; }

.row-image p,
.row-people p {
  padding-top: 5px;
  color: #999999;
  font-size: 16px; }

.row-people {
  padding: 120px 1rem 0 1rem;
  text-align: center;
  border-left: .1rem dashed #dedede; }

.how-study {
  text-align: center;
  font-size: 2rem;
  margin: 5rem 0 3rem; }

.how-study1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4rem;
  padding: 0 1rem;
  width: 25%; }

.how-study1 p {
  margin: 0;
  color: #999999;
  letter-spacing: .1rem;
  text-align: center; }

.radius {
  background-color: #fff;
  border-radius: 50%;
  color: #29b078;
  font-size: 1.5rem;
  box-shadow: 0 3px 6px #eae9ea; }

.radius1 {
  width: 4rem;
  height: 4rem;
  display: flex; }

.radius2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%; }

/*使用flex布局,但是圆圈实现的时候，由于布局中空间不够会导致圆圈变形，因此多加了两个div来撑开圆圈*/
.student {
  text-align: center;
  margin: 0 1rem;
  background-color: #fff;
  width: 22%;
  border: 1px solid #f0f0f0; }

.student span {
  display: inline-block;
  color: #999999;
  width: 150px;
  padding: 1rem 0; }

.click-circle {
  text-align: center;
  padding: .5rem 0; }

.circle {
  width: 1rem;
  height: 1rem;
  border-radius: 1rem;
  border: 0 solid #26a26f;
  margin-left: 0.5rem;
  outline: none;
  cursor: pointer; }

.circle:hover {
  background-color: #26a26f; }

.content1 {
  padding: 0 1rem; }

.cooperator1 {
  width: 20%;
  background-color: #fff; }

.cooperator1:hover {
  box-shadow: 0 5px 10px #eae9ea; }

.cooperator1 img {
  width: 100%; }

.lianjie {
  width: 100%;
  background-color: #fff;
  margin-top: 5rem; }
  .lianjie .how-study {
    margin: 0;
    padding: 2rem 0; }

.content2 {
  display: flex;
  flex-wrap: wrap; }
  .content2 .lianjie1 {
    width: 50%;
    padding: 0;
    display: flex;
    justify-content: space-around;
    /*space-between：两端对齐，项目之间的间隔都相等*/ }

.lianjie1 li {
  color: #999999; }
  .lianjie1 li a {
    color: #999999; }

@media screen and (max-width: 374px) {
  .content2 {
    width: 90%;
    margin-left: 5%; } }
@media screen and (max-width: 992px) {
  .content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; }
    .content .how-study1 {
      width: 50%; }
    .content .row-image {
      width: 50%; }
    .content .row-people {
      width: 50%; }
    .content .student {
      width: 45%; }
    .content .cooperator1 {
      width: 33%; } }
@media screen and (max-width: 767px) {
  .content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; }
    .content .how-study1 {
      width: 100%; }
    .content .row-image {
      width: 100%; }
    .content .row-people {
      width: 100%; }
    .content .student {
      width: 100%; }
    .content .cooperator1 {
      width: 100%; }
    .content .lianjie1 {
      width: 100%; } }

/*# sourceMappingURL=task14-1.css.map */
