* {
    margin: 0;
    padding: 0;
}
body {
    font-size: 62.5%;
    background-color: #fafafa;
}
.header {
    position: fixed;
    top: 0;
}
.head1 {
    position: relative;
    width: 100%;
    height: 3rem;
}
.tel {
    position: absolute;
    left: 10%;
    color: #29b078;
    line-height: 3rem;
}
.head-image {
    position: absolute;
    right: 10%;
    top: 50%;
    margin-top: -1rem;
    list-style: none;
}
.head-image li {
    float: left;
    padding-left: .5rem;
}
.head-image1 {
    width: 2rem;
    height: 2rem;
    border: 0;
}
.weixin {
    background: url(images/weixin.png);
    background-size: 2rem;
}
.qq {
    background: url(images/qq.png);
    background-size: 2rem;
}
.xinlang {
    background: url(images/xinlang.png);
    background-size: 2rem;
}
.head2 {
    position: relative;
    width: 100%;
    background-color: #29b078;
    font-size: 1.5rem;
}
.head2 .navbar-toggle {
    border: .1rem solid white;
    margin-top: 17px;
    margin-right: 10%;
    /*更改标题栏显示“书签”标识时的默认样式以及距离页面右边的距离，使其和上面的图片显示一致*/
}
.navbar {
    margin: 0;
}
span.icon-bar {
    background-color: white;
}
.navbar-nav li a {
    color: white;
    padding: 24px 15px;
}
.jnshu-image {
    margin: 10px 0;
    padding-left: 10%;
}
.navbar-collapse ul {
    float: right;
}
.nav li a:hover {
    background: #29b078;
    border-bottom: .2rem solid white;
}
@media screen and (max-width: 768px) {
    .navbar-collapse ul{
        float: none;
        /*当屏幕小于768px的时候，将ul的浮动去掉，是标签可以居中显示*/
    }
}
.shouye p {
    margin: 0;
    padding: 2rem 0;
    font-size: 1.5rem;
    border-bottom: .1rem solid #d0d6d9;
    border-top: .1rem solid #d0d6d9;
}
.shouye ul {
    list-style: none;
    padding: 1.5rem 0;
    margin: 0;
    display: inline-block;
}
.shouye li {
    float: left;

}
.shouye li a {
    color: #000;
    padding: 2px;
    margin-left: 1rem;
    text-decoration: none;
    /*去掉a标签的下划线*/
}
.shouye li a:hover {
    background-color: #29b078;
    color: #fff;
}
.people {
    position: relative;
    border-radius: 3px;
    margin-top: 3rem;
    background-color: #fff;
    border: .1rem solid #eae9ea;
    box-shadow: 0 5px 10px #eae9ea;
}
.people-opacity:hover {
    opacity: .7;
    color: #fff;
    background-color: #000;
    /*background-color: rgba(43,52,36,0.4)*/
    /*rgba渲染或者背景色加透明度都可以实现该功能*/
}
.people-opacity  {
    position: absolute;
    height: 453px;
    font-size: 14px;
    padding: 3rem 3rem;
    letter-spacing: .1rem;
    opacity: 0;
    /*设置绝对定位和透明度为0使该div刚开始不显示*/
}
.people-opacity h5 {
    padding-top: 5rem;
    text-align: center;
}
.people-opacity span {
    display: inline-block;
    text-indent:2em;
    /*首行缩进两个字符*/
}
.people-image {
    float: left;
    padding: 1.5rem 1rem;
    border-top: .1rem solid #eae9ea;
}
.people-word {
   padding-top: 2rem;
    border-top: .1rem solid #eae9ea;
}
.people1 {
    overflow: hidden;
    width: 100%;
    border-top: .1rem solid #eae9ea;
}
.people-doorsill {
    float: left;
    width: 50%;
    padding: 1rem;
    border-right: .1rem solid #eae9ea;
}
.people-hard {
    float: left;
    padding: 1rem 1% 1rem;
}
.people1 img {
    margin-top: -3px;
    padding-left: .5rem;
}
.people1 span {
    padding-left: .5rem;
}
.people p {
    margin: 0;
    padding-left: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-top: .1rem solid #eae9ea;
}
.money-time {
    border-top: .1rem solid #eae9ea;
}
.money {
    float: left;
    width: 40%;
    text-align: center;
    padding: 3rem;
}
.time {
    display: flex;
    justify-content: space-around;
    padding: .5rem 0;
    border-bottom: .1rem solid #eae9ea;
    border-left: .1rem solid #eae9ea;
}

footer {
    width: 100%;
    background-color: #29b078;
    position: relative;
    color: white;
}
footer h4 {
    font-size: 1.5rem;
    padding-top: 2rem;
    margin: 0;
}
footer ul {
    list-style: none;
}
footer li {
    float: left;
}
footer li a {
    color: white;
    font-size: 1rem;
}
footer li a:hover {
    color: white;
}
.net {
    margin-top: 2rem;
    clear: both;
    background: #29b078;
    padding: .5rem 0;
    text-align: center;
    border-top: .2rem solid #32c086;
}
